<ng-container *ngIf="isLoadingUserData; else userDataLoaded">
  <section class="complete-layout d-flex flex-column justify-content-center align-items-center deep-purple-400">
    <mat-spinner color="accent" class="mb-3"></mat-spinner>
    <h2 class="text-center text-white fw-lighter">{{ 'portfolio.loading_user_data' | translate }}</h2>
  </section>
</ng-container>
<ng-template #userDataLoaded>
  <ng-container *ngIf="isUserBioDataValid; else userBioDataInvalid">
    <section class="container-fluid presentation position-relative d-flex justify-content-center align-items-center">
      <app-shape-divider shape="waves" [inverted]="false" [hexaColor]="'#673AB7'"
                         [baseHeight]="0" [svgHeight]="isDesktop ? 80 : 30" class="z-1 transition-element"></app-shape-divider>
      <div class="overlay z-0"></div><!--overlay-->
      <div class="container position-relative z-1">
        <div class="row mb-5">
          <div class="col-lg-7 order-1 order-lg-0 mb-3 d-lg-flex d-xl-block flex-lg-column justify-content-lg-center align-items-lg-center">
            <h1 class="text-white text-center">{{ user?.bio?.fullName }}</h1>
            <h2 class="text-center text-white fw-lighter">{{ user?.bio?.jobTitle }}</h2>
            <p class="text-center text-white fw-lighter">{{ user?.bio?.presentation }}</p>
          </div><!--col-->
          <div class="col-lg-5 order-0 order-lg-1 mt-5 mb-3 my-lg-0 d-flex flex-column justify-content-center align-items-center">
            @if (user?.bio?.avatarUrl) {
              <img [src]="user?.bio?.avatarUrl" alt="User Image" class="rounded-circle mb-3 mb-xl-0">
            } @else {
              <div class="no-user-avatar-wrapper">
                <div class="overlay rounded-circle"></div><!--overlay-->
                <mat-icon class="d-flex justify-content-center align-items-center position-relative z-1">person
                </mat-icon>
              </div><!--no-user-avatar-wrapper-->
            }
            <div class="col-12 d-none d-lg-flex flex-column align-items-center justify-content-center">
              <app-social [social]="user?.social" [size]="35" class="mb-3"></app-social>
              @if (user?.resume) {
                <button mat-raised-button color="accent" type="button" class="mb-3"
                        [ngClass]="isLangEn ? 'width-160 justify-content-between': 'width-140 justify-content-around'"
                        (click)="openResumeDialog()">
                  <mat-icon iconPositionEnd>open_in_new</mat-icon>
                  {{ 'portfolio.btn_resume' | translate }}
                </button>
              }
              <button mat-raised-button color="accent" type="button" class="mb-3"
                      [ngClass]="isLangEn ? 'width-160 justify-content-between': 'width-140 justify-content-around'"
                      (click)="scrollToElement('contact')">
                <mat-icon iconPositionEnd>mail</mat-icon>
                {{ 'portfolio.btn_contact' | translate }}
              </button>
            </div><!--col-->
          </div><!--col-->
          <div
            class="col-12 order-2 d-flex d-lg-none flex-column align-items-center justify-content-center text-center">
            <app-social [social]="user?.social" [size]="35" class="mb-3"></app-social>
            <button mat-raised-button color="accent" type="button" class="mb-3"
                    [ngClass]="isLangEn ? 'width-160 justify-content-between': 'width-140 justify-content-around'"
                    (click)="openResumeDialog()">
              <mat-icon iconPositionEnd>open_in_new</mat-icon>
              {{ 'portfolio.btn_resume' | translate }}
            </button>
            <button mat-raised-button color="accent" type="button" class="mb-3"
                    [ngClass]="isLangEn ? 'width-160 justify-content-between': 'width-140 justify-content-around'"
                    (click)="scrollToElement('contact')">
              <mat-icon iconPositionEnd>mail</mat-icon>
              {{ 'portfolio.btn_contact' | translate }}
            </button>
          </div><!--col-12-->
        </div><!--row-->
      </div><!--container-->
      <i class="fa-solid fa-circle-arrow-down fa-bounce text-white fa-2xl cursor-pointer"
         (click)="scrollToElement('about-me')"></i>
    </section><!--presentation-->
    <section id="about-me" class="about-me container-fluid position-relative d-flex flex-column justify-content-center align-items-center">
      <div class="overlay"></div><!--overlay-->
      <div class="container z-1">
        <h1 class="text-center text-white mt-5 mt-sm-3 mb-5">{{ 'portfolio.about_me' | translate }}</h1>
        <h2 class="text-center text-white mx-auto">{{ user?.bio?.testimonial }}</h2>
      </div><!--container-->
    </section><!--about-me-->
    @if (user?.skills && user!.skills.length > 0) {
      <section class="skills container-fluid mat-primary-bg position-relative">
        <div class="overlay"></div>
        <div class="container position-relative z-1">
          <div class="row">
            <div class="col-12 mt-5 mb-3">
              <h1 class="text-center text-white">{{ 'portfolio.skills' | translate }}</h1>
            </div><!--col-->
            <div class="col-12">
              <app-skills-list [skills]="user!.skills"></app-skills-list>
            </div><!--col-->
          </div><!--row-->
        </div><!--container-->
      </section><!--skills-->
    }
    @if (user?.certificates && user!.certificates.length > 0) {
      <section class="certificate container-fluid">
        <div class="container">
          <div class="row flex-column">
            <div class="col-12 mt-5 mb-3">
              <h1 class="text-center text-muted">{{ 'portfolio.certificates' | translate }}</h1>
            </div><!--col-->
            <div class="col-12 mb-3 text-center certificate__wrapper d-flex justify-content-center align-items-center">
              <button mat-raised-button color="accent" type="button" (click)="openCertificatesDialog()"
                      [disabled]="isPdfDialogOpened">
                <mat-icon>visibility</mat-icon>
                {{ 'portfolio.open_certificate' | translate }}
              </button>
            </div><!--col-->
          </div><!--row-->
        </div><!--container-->
      </section><!--certificates-->
    }
    @if (user?.courses && user!.courses.length > 0) {
      <section class="courses container-fluid deep-purple-a400 text-white">
        <div class="container">
          <div class="row">
            <div class="col-12 mt-5 mb-3">
              <h1 class="text-center text-white">{{ 'portfolio.courses' | translate }}</h1>
            </div><!--col-->
            <div class="col-12">
              <app-courses-list [courses]="user!.courses"></app-courses-list>
            </div><!--col-->
          </div><!--row-->
        </div><!--container-->
      </section><!--courses-->
    }
    @if (user?.projects && user!.projects.length > 0) {
      <section class="projects container-fluid">
        <div class="container">
          <div class="row">
            <div class="col-12 mt-5 mb-3">
              <h1 class="text-center text-muted">{{ 'portfolio.projects' | translate }}</h1>
            </div><!--col-->
            <div class="col-12">
              <app-projects-list [projects]="user!.projects"
                                 (projectClicked)="onProjectClicked($event)"></app-projects-list>
            </div><!--col-->
          </div><!--row-->
        </div><!--container-->
      </section><!--projects-->
    }
    <section class="contact position-relative" id="contact">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-12 mt-5 mb-3  z-1">
            <h1 class="text-center text-white">{{ 'portfolio.contact' | translate }}</h1>
          </div><!--col-->
          <div class="col-12 mb-3">
            <app-contact-form></app-contact-form>
          </div><!--col-->
        </div><!--row-->
      </div><!--container-->
    </section><!--contact-->
  </ng-container>
  <ng-template #userBioDataInvalid>
    <section
      class="complete-layout bio-data-missing d-flex flex-column justify-content-center align-items-center deep-purple-400">
      <div class="container">
        <h2 class="text-center text-white fw-lighter">{{ 'portfolio.user_bio_data_missing' | translate }}</h2>
      </div>
    </section>
  </ng-template>
</ng-template>
