section.presentation {
  min-height: calc(100vh - 80px);
  background-image: url("../../../assets/backgrounds/background-landing-page.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  @media screen and (max-width: 992px) {
    //min-height: 80vh;
  }

  h1 {
    font-size: 55px;
    line-height: 1.3;
    font-weight: normal;
    @media screen and (max-width: 1200px) {
      font-size: 40px;
    }
    @media screen and (max-width: 992px) {
      font-size: 25px;
      line-height: 1.5;
    }
  }

  h2 {
    font-size: 25px;
    font-weight: lighter;
    @media screen and (max-width: 992px) {
      font-size: 18px;
    }
  }

  img {
    position: relative;
    bottom: 10%;
    width: 250px;
    height: 250px;
    @media screen and (max-width: 1200px) {
      width: 200px;
      height: 200px;
      position: initial;
    }
    @media screen and (max-width: 992px) {
      width: 150px;
      height: 150px;
    }
  }

.fa-brands {
  font-size: 2.5em !important;
}

  .fa-circle-arrow-down {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
  }
}

section.about-me {
  height: 500px;
  background-image: url("../../../assets/backgrounds/background-keyboard.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;

  .overlay {
    background-color: rgba(0, 0, 0, 0.6);
  }

  h2 {
    font-weight: lighter;
    font-size: 18px;
    line-height: 1.6;
    max-width: 1200px;
    @media screen and (max-width: 1200px) {
      font-size: 16px;
    }
    @media screen and (max-width: 992px) {
      font-size: 14px;
    }
  }
}

section.skills {
  background-image: url("../../../assets/backgrounds/background-purple2.jpg"); //todo: Adicionar background Image para skills
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

section.skills, section.projects, section.about-me {
  h1 {
    font-weight: lighter;
    font-size: 50px;
    @media screen and (max-width: 1200px) {
      font-size: 35px;
    }
    @media screen and (max-width: 992px) {
      font-size: 22px;
    }
  }
}


.overlay {
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}
