<mat-toolbar color="primary" id="nav-toolbar">
  <mat-toolbar-row>
    <button mat-icon-button class="cursor-pointer" (click)="onSideNav()" *ngIf="!isLgScreen">
      <mat-icon>menu</mat-icon>
    </button>
    <a mat-button [routerLink]="['/']"><h1>Paco Projects</h1></a>
    <div class="ms-auto" *ngIf="isLgScreen">
      <ng-container *ngIf="isUserLoggedIn; else userNotLogged">
        <a mat-button [routerLink]="'/profile'" [routerLinkActive]="'active-link'" (click)="resetMatTab()"> Profile </a>
        <a mat-button (click)="onLogout()"> Logout </a>
      </ng-container>
      <ng-template #userNotLogged>
        <a mat-button [routerLink]="'/auth'" [routerLinkActive]="'active-link'"> Login </a>
      </ng-template>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
