<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button class="cursor-pointer" (click)="onSideNav()" *ngIf="!isLgScreen">
      <mat-icon>menu</mat-icon>
    </button>
    <a mat-button [routerLink]="['/']"><h1>Paco Projects</h1></a>
    <div class="ms-auto" *ngIf="isLgScreen">
      <a mat-button [routerLink]="'/profile'" [routerLinkActive]="'active-link'" (click)="resetMatTab()"> Profile </a>
      <a mat-button (click)="onLogout()"> Logout </a>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
