<mat-toolbar color="primary" appSticky offsetMode="bottom" class="sticky-top" [stickyClasses]="['custom-sticky']">
  <mat-toolbar-row>
    <button mat-icon-button class="cursor-pointer" (click)="onSideNav()" *ngIf="!isLgScreen">
      <mat-icon>menu</mat-icon>
    </button>
    <a mat-button [routerLink]="['/']"><h1>Paco Projects</h1></a>

    <div class="ms-auto d-flex justify-content-center align-items-center">
      <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Language">
        <mat-icon>language</mat-icon>
      </button>
      <mat-menu #menu="matMenu" hasBackdrop="true" [backdropClass]="'dark-backdrop'">
        <mat-radio-group [value]="currentLanguage" class="d-flex flex-column">
          <mat-radio-button (click)="changeLanguage(lang)" *ngFor="let lang of languages" [value]="lang">{{ lang | language }}</mat-radio-button>
        </mat-radio-group>
      </mat-menu>
      <ng-container *ngIf="isLgScreen">
        <ng-container *ngIf="isUserLoggedIn; else userNotLogged">
          <a mat-button [routerLink]="'/profile'" [routerLinkActive]="'active-link'" (click)="resetMatTab()">{{ 'header.profile' | translate }}</a>
          <a mat-button (click)="onLogout()">{{ 'header.logout' | translate }}</a>
        </ng-container>
        <ng-template #userNotLogged>
          <a mat-button [routerLink]="'/auth'" [routerLinkActive]="'active-link'">{{ 'header.login' | translate }}</a>
        </ng-template>
      </ng-container>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
