<mat-spinner class="mx-auto my-5" *ngIf="isSkillsLoading; else loadedUser"></mat-spinner>
<ng-template #loadedUser>
  <ng-container *ngIf="!isFailedToLoadSkills; else failedToLoadSkills">
    <div class="row my-4">
      <div class="col-lg-6">
        <button mat-raised-button color="primary" class="w-100 mb-2" (click)="onAddSkill()"><mat-icon>add</mat-icon>Add Skill</button>
      </div><!--col-->
      <div class="col-lg-6" *ngIf="isSkillSelected && isDesktop">
        <button mat-raised-button color="primary" class="w-100 mb-2"  (click)="onEditSkill()"><mat-icon>edit</mat-icon>Edit Skill</button>
      </div><!--col-->
    </div><!--row-->
    <ng-container *ngIf="skills.length > 0; else noSkills">
      <app-skills-list [skills]="skills" [editable]="true" [isSkillSelected]="isSkillSelected" [desktopView]="isDesktop" (selected)="onSelectedSkill($event)" (delete)="onDeleteSkill($event)"></app-skills-list>
    </ng-container><!--skills-content-container-->
    <ng-template #noSkills>
      <div class="col-12">
        <div class="alert alert-light text-center" role="alert">
          <strong>No skills added yet!</strong>
        </div><!--alert-->
      </div><!--col-->
    </ng-template><!--skills-empty-template-->
  </ng-container><!--skills-found-container-->
  <ng-template #failedToLoadSkills>
    <div class="row my-4">
      <div class="col-12">
        <div class="alert alert-danger  text-center" role="alert">
          <strong>Error while loading user skills. Please try again later!</strong>
        </div><!--alert-->
      </div><!--col-->
    </div><!--row-->
  </ng-template><!--skills-failed-template-->
</ng-template><!--skills-loaded-template-->
