<mat-spinner *ngIf="isLoadingProjects; else loadedProjects" class="my-5 mx-auto"></mat-spinner>
<ng-template #loadedProjects>
  <ng-container *ngIf="!isFailedToLoadProjects; else failedToLoadProjects">
    <div class="row my-4">
      <div class="col-12">
        <button mat-raised-button color="primary" class="w-100" (click)="onAddProject()"><mat-icon>add</mat-icon>{{ 'projects.new_project' | translate }}</button>
      </div><!--col-->
    </div><!--row-->
    <ng-container *ngIf="projects.length > 0; else noProjects">
      <app-projects-list [projects]="projects" (projectClicked)="onProjectClicked($event)"></app-projects-list>
    </ng-container><!--projects-content-container-->
    <ng-template #noProjects>
      <div class="row">
        <div class="col-12">
          <div class="alert alert-light text-center" role="alert">
            <strong>{{ 'projects.no_projects' | translate }}</strong>
          </div><!--alert-->
        </div><!--col-->
      </div><!--row-->
    </ng-template><!--projects-empty-template-->
  </ng-container><!--projects-found-container-->
  <ng-template #failedToLoadProjects>
    <div class="row my-4">
      <div class="col-12">
        <div class="alert alert-danger text-center" role="alert">
          <strong>{{ 'projects.failed_to_load_projects' | translate }}</strong>
        </div><!--alert-->
      </div><!--col-->
    </div><!--row-->
  </ng-template><!--projects-failed-template-->
</ng-template><!--projects-loaded-template-->
