@import 'src/app/shared/scss/default/ribbon.scss';

.file-upload-img-wrapper {
  width: 80px;
  height: 80px;

  mat-icon {
    width: 40px;
    height: 40px;
    font-size: 40px;
    color: #fff;
  }

  &:hover .overlay, &:hover mat-icon {
    cursor: pointer;
  }
}

.cropped-image-wrapper {
  .cropped-image {
    img {
      width: 100%;
      max-height: 300px;
      object-fit: contain;
      transition: all 0.3s ease-out;
      border-radius: 4px;
    }
  }

  .edit-btn-image-wrapper {
    label {
      border-radius: 50%;

      mat-icon {
        width: 40px;
        height: 40px;
        cursor: pointer;
      }
    }
  }
}


.overlay {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 0;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  transition: all 0.3s ease-out;
}

.section-block {
  textarea {
    height: 140px;
  }
}
