<div class="ribbon-lg-wrapper" *ngIf="isDesktop">
  <div class="ribbon-lg" [ngClass]="setRibbonColor()">{{ data.project.status | statusProject }}</div><!--ribbon-lg-->
</div><!--ribbon-lg-wrapper-->
<mat-toolbar color="primary" class="justify-content-center">Details</mat-toolbar>
<mat-dialog-content class="row">
  <div class="col-12 mb-2 overflow-hidden d-flex flex-wrap justify-content-center align-items-center">
    <div class="project-wrapper position-relative">
      <img [src]="setProjectImage()" alt="">
      <div class="ribbon-lg-wrapper" *ngIf="!isDesktop">
        <div class="ribbon-lg"
             [ngClass]="setRibbonColor()">{{ data.project.status | statusProject }}
        </div><!--ribbon-lg-->
      </div><!--ribbon-lg-wrapper-->
    </div><!--project-wrapper-->
  </div><!--col-->
  <div class="col-12">
    <h2 class="text-center">{{ data.project.name }}</h2>
    <p class="text-center">{{ data.project.description }}</p>
  </div><!--col-->
</mat-dialog-content>
<mat-dialog-actions align="end" *ngIf="isDesktop">
  <a mat-raised-button color="primary" [href]="data.project.url" target="_blank" *ngIf="data.project.url">
    <mat-icon>launch</mat-icon>
    Visit site</a>
  <button mat-raised-button color="accent" *ngIf="data.editable" (click)="onEdit()">
    <mat-icon>edit</mat-icon>
    Edit
  </button>
  <button mat-raised-button color="warn" *ngIf="data.editable" (click)="onDelete()">
    <mat-icon>delete</mat-icon>
    Delete
  </button>
  <button mat-raised-button color="primary" mat-dialog-close>Close</button>
</mat-dialog-actions>
<mat-dialog-actions align="center" *ngIf="!isDesktop">
  <button mat-raised-button color="primary" (click)="onOptionsClick()">Options</button>
</mat-dialog-actions>
