<div class="ribbon-lg-wrapper" *ngIf="isDesktop">
  <div class="ribbon-lg" [ngClass]="setRibbonColor()">{{ data.project.status | statusProject }}</div><!--ribbon-lg-->
</div><!--ribbon-lg-wrapper-->
<mat-toolbar color="primary" class="justify-content-center">{{ 'projects_item.title' | translate }}</mat-toolbar>
<mat-dialog-content class="row">
  <div class="col-12 mb-2 d-flex flex-wrap justify-content-center align-items-center ">
    <div class="col-auto position-relative overflow-hidden">
      <div class="ribbon-lg-wrapper" *ngIf="!isDesktop">
        <div class="ribbon-lg"
             [ngClass]="setRibbonColor()">{{ data.project.status | statusProject }}
        </div><!--ribbon-lg-->
      </div><!--ribbon-lg-wrapper-->
      <img [src]="setProjectImage()" alt="Project Image">
    </div><!--project-wrapper-->
  </div><!--col-->
  <div class="col-12">
    <mat-chip-listbox class="mb-3" *ngIf="data.project?.tags && data.project.tags.length > 0">
      <mat-chip color="primary" highlighted *ngFor="let tag of data.project.tags">
        {{ tag }}
      </mat-chip>
    </mat-chip-listbox>
    <h1 class="text-center">{{ data.project.name }}</h1>
    <p class="text-center">{{ data.project.description }}</p>
    <ng-container *ngFor="let section of data.project.projectSectionBlocks">
      <mat-toolbar class="mb-3 toolbar-section">
        <mat-icon class="d-flex justify-content-center align-items-center">fiber_manual_record</mat-icon><h3> {{ section.title }}</h3>
      </mat-toolbar>
      <p class="white-space-pre">{{ section.description }}</p>
    </ng-container>
  </div><!--col-->
</mat-dialog-content>
<mat-dialog-actions align="end" *ngIf="isDesktop">
  <a mat-raised-button color="primary" [href]="data.project.url" target="_blank" [disabled]="data.project.url == null">
    <mat-icon iconPositionEnd>launch</mat-icon>
    {{ (data.project.url ? 'projects_item.options.visit' : 'projects_item.options.not_available') | translate }}</a>
  <button mat-raised-button color="accent" *ngIf="data.editable" (click)="onEdit()">
    <mat-icon>edit</mat-icon>
    {{ 'projects_item.options.edit' | translate }}
  </button>
  <button mat-raised-button color="warn" *ngIf="data.editable" (click)="onDelete()">
    <mat-icon>delete</mat-icon>
    {{ 'projects_item.options.delete' | translate }}
  </button>
  <button mat-raised-button color="primary" mat-dialog-close>{{ 'projects_item.options.close' | translate }}</button>
</mat-dialog-actions>
<mat-dialog-actions align="center" *ngIf="!isDesktop">
  <button mat-raised-button color="primary" (click)="onOptionsClick()"
          *ngIf="data.editable">{{ 'projects_item.btn_options' | translate }}</button>
  <a mat-raised-button color="primary" [href]="data.project.url" target="_blank"
     *ngIf="!data.editable"
     [disabled]="data.project.url == null">
    <mat-icon iconPositionEnd>launch</mat-icon>
    {{ (data.project.url ? 'projects_item.options.visit' : 'projects_item.options.not_available') | translate }}</a>
</mat-dialog-actions>
