@import 'src/app/shared/scss/default/ribbon.scss';
img {
  max-width: 600px;
  max-height: 300px;
  object-fit: contain;
  transition: all 0.3s ease-in-out;
  border-radius: 4px;
  &:hover {
    scale: (1.2);
  }
  @media screen and (max-width: 600px) {
    max-width: 300px;
  }
}

.ribbon-lg-wrapper {
  &:hover + img {
    scale: (1.2);
  }
}

::ng-deep div[role="presentation"] {
  justify-content: center;
  align-items: center;
}
