<ng-template #noCourses>
  <div class="alert alert-light text-center" role="alert" #alertEl>
    <strong class="alert-heading">{{ 'courses_form.no_courses_title' | translate }}</strong>
    <p>{{ 'courses_form.no_courses_description' | translate }}</p>
    <button mat-raised-button color="primary" type="button" (click)="onAddNewCourse(alertEl)">
      <mat-icon>add</mat-icon>
      {{ 'courses_form.btn_add_course' | translate }}
    </button>
  </div><!--alert-->
</ng-template>
<ng-container *ngIf="coursesFormArray.length > 0; else noCourses">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <ng-container formArrayName="courses" *ngFor="let c of coursesFormArray.controls; index as i">
      <ng-container [formGroupName]="i">
          <mat-card class="mb-3">
            <mat-card-content>
              <div class="row">
                <mat-form-field class="col-lg-6">
                  <mat-label>{{ 'courses_form.label_name' | translate }}</mat-label>
                  <input matInput formControlName="name" #inputCourseName placeholder="{{ 'courses_form.placeholder_name' | translate }}">
                  <mat-hint align="end">{{ inputCourseName.value.length || 0 }}/ 50</mat-hint>
                  <mat-error>{{ matErrorMessage('name', ('courses_form.field_names.name' | translate), i) }}</mat-error>
                </mat-form-field>
                <mat-form-field class="col-lg-6">
                  <mat-label>{{ 'courses_form.label_issuer' | translate }}</mat-label>
                  <input matInput formControlName="issuer" #inputCourseIssuer placeholder="{{ 'courses_form.placeholder_issuer' | translate }}">
                  <mat-hint align="end">{{ inputCourseIssuer.value.length || 0 }}/ 50</mat-hint>
                  <mat-error>{{ matErrorMessage('issuer', ('courses_form.field_names.issuer' | translate), i) }}</mat-error>
                </mat-form-field>
                <div class="col-lg-6">
                  <mat-form-field floatLabel="always" (click)="onDatePickerOpen(picker)">
                    <mat-label >{{ 'courses_form.label_endDate' | translate }}</mat-label>
                    <input matInput formControlName="endDate" [matDatepicker]="picker"
                           [max]="maxEndDate"
                           readonly>
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker touchUi startView="multi-year" color="primary" disabled="false"></mat-datepicker>
                    <mat-error>{{ matErrorMessage('endDate', ('courses_form.field_names.endDate' | translate), i) }}</mat-error>
                  </mat-form-field>
                </div><!--col-->
              </div><!--row-->
            </mat-card-content>
            <mat-card-actions class="ps-3">
                  <button mat-raised-button color="warn" type="button" (click)="removeCourse(i)">
                    <mat-icon>delete</mat-icon>
                    {{ 'courses_form.btn_delete' | translate }}
                  </button>
            </mat-card-actions>
          </mat-card>
      </ng-container><!--formArrayGroupName-->
    </ng-container><!--formArrayName-->
    <div class="col-12">
      <button mat-raised-button color="primary" type="button" class="me-lg-3" (click)="onAddNewCourse()">
        <mat-icon>add</mat-icon>
        {{ 'courses_form.btn_add_course' | translate }}
      </button>
      <button mat-raised-button color="primary" type="submit">
        <mat-icon>save</mat-icon>
        {{ 'courses_form.btn_save' | translate }}
      </button>
    </div><!--col-->
  </form>
</ng-container>
