<section class="container">
  <mat-card class="my-2">
    <mat-card-content>
      <div class="row">
        <div class="col-12 mb-3 text-center">
          <app-bio-form></app-bio-form>
        </div><!--col-->
        <div class="col-12 mb-3">
          <mat-divider></mat-divider>
        </div><!--col-->
        <div class="col-12 overflow-hidden">
          <mat-toolbar color="primary" class="justify-content-center rounded mb-3">{{ 'profile.toolbar_accomplishments' | translate }}</mat-toolbar>
          <nav mat-tab-nav-bar [tabPanel]="tabPanel">
            <a mat-tab-link *ngFor="let link of links" [active]="activeLink == link" (click)="goToRoute(link)"
               [matTooltip]="setMatTabTooltip(link)">{{ setMatTabTitle(link) }}</a>
          </nav>
          <mat-tab-nav-panel #tabPanel></mat-tab-nav-panel>
          <router-outlet></router-outlet>
        </div><!--col-->
      </div><!--row-->
    </mat-card-content>
  </mat-card>
</section>
