<section class="container">
  <mat-card>
    <mat-card-title class="text-center my-2">Profile data</mat-card-title>
    <mat-card-content>
      <div class="row">
        <div class="col-md-4">
          Foto de Perfil
        </div><!--col-->
        <div class="col-md-8">
            <nav mat-tab-nav-bar [tabPanel]="tabPanel">
              <a mat-tab-link *ngFor="let link of links" [active]="activeLink == link" (click)="goToRoute(link)">{{ link | camelCase }}</a>
            </nav>
          <mat-tab-nav-panel #tabPanel></mat-tab-nav-panel>
          <router-outlet></router-outlet>
        </div><!--col-->
      </div><!--row-->
    </mat-card-content>
  </mat-card>
</section>
