<ng-container *ngFor="let course of courses; index as i">
  <div class="row">
    <div class="col-12 d-flex flex-column flex-sm-row justify-content-center align-items-center mb-4">
        <h3 class="mb-0 course-name text-center">
          {{ course.name }}<span class="d-none d-sm-inline">&nbsp;-&nbsp;</span>
        </h3>
      <p class="text-center mb-0 align-text-bottom"><span class="fst-italic">{{ course.issuer }}</span> - {{ course.endDate | date : 'MM/YYYY' }}</p>
    </div><!--col-auto-->
  </div><!--row-->
</ng-container>

