@use "@angular/material" as mat;
@import "bootstrap/dist/css/bootstrap.css";
@import "src/app/shared/scss/default/default-with-colors";
@import "src/app/shared/scss/default/custom-scrollbar";
@import "src/app/shared/external/angular-material/toast-snackbar/mat-snackbar";
@include mat.core();

$custom-primary: mat.define-palette(mat.$deep-purple-palette, 500, 300, 700);
$custom-accent: mat.define-palette(mat.$amber-palette, 500, 300, 700);
$custom-warn: mat.define-palette(mat.$red-palette, 500, 300, 700);

.mat-primary-text {
  color: mat.get-color-from-palette($custom-primary, 500);
}

.mat-primary-bg {
  background-color: mat.get-color-from-palette($custom-primary, 500) !important;
}

.mat-accent-text {
  color: mat.get-color-from-palette($custom-accent, 500);
}

.mat-warn-text {
  color: mat.get-color-from-palette($custom-warn, 500);
}

.complete-layout {
  min-height: calc(100vh - 144px);
}

.navbar-layout {
  min-height: calc(100vh - 64px);
}

.footer-layout {
  min-height: calc(100vh - 80px);
}

.empty-layout {
  height: 100vh;
}

/*Configurações de input Angular Material*/
//.mdc-text-field--filled:not(.mdc-text-field--disabled) {
//  background-color: white !important;
//}
//
//.mat-mdc-form-field.mat-focused .mat-mdc-form-field-focus-overlay {
//  opacity: 0 !important;
//}
//
//.mat-mdc-form-field:hover .mat-mdc-form-field-focus-overlay {
//  opacity: 0 !important;
//}
