header, footer {
  height: 80px;
}

.complete-layout {
  height: calc(100vh - 160px);
}

.parcial-complete-layout {
  height: calc(100vh - 80px);
}

.incomplete-layout {
  height: 100vh;
}

mat-sidenav {
  width: 200px;
}
