<div class="d-flex flex-column min-vh-100">
  <header class="flex-shrink-0 flex-grow-0" *ngIf="isShowNavbar" id="nav-toolbar">
    <app-navbar (sideNav)="toggleSideNav($event)" [lgScreen]="isLgScreen" [userLogged]="isUserLoggedIn" [currentLanguage]="currentLanguage"
                (logout)="onLogout($event)" (matTab)="resetMatTab($event)" (onChangeLanguage)="defineLanguage($event)">
    </app-navbar>
  </header>
  <main class="flex-grow-1" [ngClass]="layoutClassStyle()">
    <mat-sidenav-container [ngClass]="layoutClassStyle()">
      <mat-sidenav #sidenav mode="over" [opened]="isShowSideNav">
        <!-- Conteúdo do Menu -->
        <mat-nav-list>
          <ng-container *ngIf="isUserLoggedIn; else userNotLogged">
            <a mat-list-item [routerLink]="'/profile'" [routerLinkActive]="'active-link'" (click)="resetMatTab(true)">{{ 'header.profile' | translate }}</a>
            <a mat-list-item (click)="onLogout(true)">{{ 'header.logout' | translate }}</a>
          </ng-container>
          <ng-template #userNotLogged>
            <a mat-list-item [routerLink]="'/auth'" [routerLinkActive]="'active-link'">{{ 'header.login' | translate }}</a>
          </ng-template>
        </mat-nav-list>
      </mat-sidenav>
      <mat-sidenav-content>
        <!-- Conteúdo Principal -->
        <router-outlet></router-outlet>
        <!-- Conteúdo do seu aplicativo -->
      </mat-sidenav-content>
    </mat-sidenav-container>
  </main>
  <footer class="flex-shrink-0 flex-grow-0" *ngIf="isShowFooter">
    <app-footer [lgScreen]="isLgScreen"></app-footer>
  </footer>
</div>
