<div class="d-flex flex-column min-vh-100">
  <header class="flex-shrink-0 flex-grow-0" *ngIf="isShowNavbar">
    <app-navbar (sideNav)="toggleSideNav($event)" [lgScreen]="isLgScreen" (logout)="onLogout($event)" (matTab)="resetMatTab($event)"></app-navbar>
  </header>
  <main class="flex-grow-1" [ngClass]="layoutClassStyle()">
    <mat-sidenav-container [ngClass]="layoutClassStyle()">
      <mat-sidenav #sidenav mode="side" [opened]="isShowSideNav">
        <!-- Conteúdo do Menu -->
        <mat-nav-list>
          <a mat-list-item>Portfolio</a>
          <a mat-list-item>Logout</a>
        </mat-nav-list>
      </mat-sidenav>
      <mat-sidenav-content>
        <!-- Conteúdo Principal -->
        <router-outlet></router-outlet>
        <!-- Conteúdo do seu aplicativo -->
      </mat-sidenav-content>
    </mat-sidenav-container>
  </main>
  <footer class="flex-shrink-0 flex-grow-0" *ngIf="isShowFooter">
    <app-footer></app-footer>
  </footer>
</div>
