<div class="row">
  <div class="col-lg-4 mb-3" *ngFor="let project of projects; index as i">
    <mat-card class="cursor-pointer" (click)="onProjectClicked(project.id)">
      <img mat-card-image [src]="setImageCardSrc(project)" alt="Project Image">
      <mat-card-content class="d-flex justify-content-center align-items-center">
        <div class="ribbon-lg-wrapper">
          <div class="ribbon-lg" [ngClass]="setRibbonColor(project)">{{ project.status }}</div>
        </div>
        <h2 class="text-white">{{ project.name }}</h2>
        <div class="overlay"></div>
      </mat-card-content>
      <mat-card-footer>
        <mat-progress-bar mode="determinate" value="100" color="warn"></mat-progress-bar>
      </mat-card-footer>
    </mat-card>
  </div><!--col-->
</div><!--row-->
