@import 'src/app/shared/scss/default/ribbon.scss';

mat-card {
  width: 100%;
  mat-card-content {
    width: 100%;
    height: 300px;

    @media screen and (min-width: 992px) {
      &:hover h2 {
        opacity: 1;
        transform: scale(1);
        z-index: 1;
      }
    }

    .ribbon-lg-wrapper {
      &:hover + .overlay {
        opacity: 1 !important;
      }
    }

    h2 {
      transition: all 0.5s ease-out;
      font-size: 32px;
      @media screen and (min-width: 992px) {
        transform: scale(0);
        opacity: 0;
      }
    }
  }
}


img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  z-index: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 1;
  top: 0;
  transition: all 0.3s ease-in-out;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

swiper-container {
  width: 100%;
  swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

button[mat-icon-button] {
  background-color: rgba(0,0,0,0.5);
}
